<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862904057844-32an60uuvgcjnfcpabh1lg0jjkh7j7ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862904057844-32an60uuvgcjnfcpabh1lg0jjkh7j7ks</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Hus_7L-ya5fPXFw77E_9PwhyoB9Qqhw</string>
	<key>GCM_SENDER_ID</key>
	<string>862904057844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crewapp</string>
	<key>PROJECT_ID</key>
	<string>bai-brew</string>
	<key>STORAGE_BUCKET</key>
	<string>bai-brew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862904057844:ios:55e4ffbb6ad9de11b883a1</string>
	<key>DATABASE_URL</key>
	<string>https://bai-brew.firebaseio.com</string>
</dict>
</plist>